삼항연산자
- a if 조건식 else b

In [2]:
score=60
'합격' if score>=80 else '불합격'

'불합격'

In [5]:
a=int(input("정수입력 >> "))
b=int(input("정수입력 >> "))
print('a : ',a) if a>b else print('b : ',b)

정수입력 >> 3
정수입력 >> 10
b :  10

In [12]:
num1=int(input("정수입력 >> "))
num2=int(input("정수입력 >> "))
print("두수의 차 : ",num1-num2) if num1>num2 else print("두수의 차 : ",num2-num1)

정수입력 >> 10
정수입력 >> 85
두수의 차 :  75

In [14]:
n=int(input("정수입력 : "))
print(n,"는(은) 짝수입니다.") if n%2==0 else print(n,"는(은) 홀수입니다.")

정수입력 : 33
33 는(은) 홀수입니다

조건문
- if, elif, else

In [20]:
if False:
    print("실행문장 실행")
print("if문 밖에있는 문장 실행")

if문 밖에있는 문장 실행

In [33]:
if True:
    print('실행문장1')
else:
    print('실행문장2')

실행문장1

In [43]:
money=int(input("돈 입력 >> "))
if money>=10000:
    print('택시를 탄다.')
elif money>=9000:
    print('버스를 탄다')
else:
    print('아무것도 못탄다')

돈 입력 >> 9875
버스를 탄다

In [47]:
num=int(input("정수입력 >> "))
if num%3==0 and num%5==0:
    print(num,'는(은) 3과 5의 배수입니다.')
else:
    print(num,"는(은) 3과 5의 배수가 아닙니다.")

정수입력 >> 15
15 는(은) 3과 5의 배수입니다.

In [50]:
num1=int(input("정수입력 : "))
num2=int(input("정수입력 : "))
if num1>num2:
    print("첫 번째 정수가 더 큽니다.")
elif num1==num2:
    print("두 수가 똑같습니다.")
else:
    print("두 번째 정수가 더 큽니다.")

정수입력 : 5
정수입력 : 5
두 수가 똑같습니다.

In [57]:
score=int(input("점수입력 : "))
if score>=90 and score<=100:
    grade='A'
elif score>=80 and score<90:
    grade='B'
elif score>=70 and score<80:
    grade='C'
elif score>=60 and score<70:
    grade='D'
else:
    grade='F'
print('{}점은 {}학점 입니다.'.format(score, grade))

점수입력 : 100
100점은 A학점 입니다.

In [72]:
print('''
================================================
================---- 자판기 ----================
================================================
== 1.콜라 == 2.사이다 ==  3.물  =======insert===
==--------==----------==--------=======------===
==   600  ==    800   ==  1000  ======= O00원===
=======================================------===
================================================
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==+++++++++++++++              +++++++++++++++==
==+++++++++++++++     SMHRD    +++++++++++++++==
==+++++++++++++++              +++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
================================================
================================================
  ===                                      ===
  ===                                      ===
''')
money=int(input("insert coin : "))
menu=int(input("메뉴 선택 : "))
if menu==1:
    result=money-600
    a1000=int(result//1000)
    a500=int((result%1000)//500)
    a100=int(((result%1000)%500)//100)
elif menu==2:
    result=money-800
    a1000=int(result//1000)
    a500=int((result%1000)//500)
    a100=int(((result%1000)%500)//100)
elif menu==3:
    result=money-1000
    a1000=int(result//1000)
    a500=int((result%1000)//500)
    a100=int(((result%1000)%500)//100)
else: print("오류")
print('잔돈 >> {}원'.format(result))
print('잔돈 >> 1000원 {}개 500원 {}개 100원 {}개'.format(a1000, a500, a100))

================================================
================---- 자판기 ----================
================================================
== 1.콜라 == 2.사이다 ==  3.물  =======insert===
==--------==----------==--------=======------===
==   600  ==    800   ==  1000  ======= O00원===
=======================================------===
================================================
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==+++++++++++++++              +++++++++++++++==
==+++++++++++++++     SMHRD    +++++++++++++++==
==+++++++++++++++              +++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
================================================
================================================
  ===                                      ===
  ===                                      ===

insert coin : 8700
메뉴 선택 : 2
잔돈 >> 7900원
잔돈 >> 1000원 7개 500원 1개 100원 4개

리스트
- 파이썬의 자료구조 형태중 하나
- 순서가있는 수정이 가능한 객체의 집합
- 추가, 수정, 삭제 가능

In [79]:
a=[1,2,3]
b=['my','name']
c=[1,2,'my','name']
d=[1,2,['my','name']]
print(a, b, c, d)
type(a)

[1, 2, 3] ['my', 'name'] [1, 2, 'my', 'name'] [1, 2, ['my', 'name']]

list

In [89]:
list1=[2,5,7,9,10]
print(list1[0])
print(list1[2])
print(list1[0]+list1[-1])

2
7
12

In [95]:
list2=[1, 2, 3, ['a', 'b', 'c']]
temp=list2[3]
print(temp)

['a', 'b', 'c']

In [98]:
print(temp[1])
print(list2[3][1])

b
b

In [103]:
list3=[0, 1, 2, 3, 4]
print(list3[1:3])
print(list3[:2])
print(list3[-2:])

[1, 2]
[0, 1]
[3, 4]

In [105]:
list4=[1, 2, 3]
list5=[3, 4, 5, 6]
result=list4+list5
print(result)

[1, 2, 3, 3, 4, 5, 6]

리스트.append(값)
값 추가

In [110]:
#append함수를 활용한 값 추가(맨 뒤에 값이 추가된다)
list6=[0, 1, 2, 3, 4]
list6.append(6)
print(list6)

[0, 1, 2, 3, 4, 6]

In [124]:
list7=['사과', '포도', ['수박', '멜론'], '복숭아', '딸기', '오렌지']
list_apple=list7[0]
list_watermelon=list7[2][0]
list_orange=list7[5]
choice_list=[]
choice_list.append(list_apple)
choice_list.append(list_watermelon)
choice_list.append(list_orange)
print(choice_list)

['사과', '수박', '오렌지']

In [129]:
#insert(인덱스위치, 값) 함수 사용
#인덱스 위치에 값 추가

In [130]:
list5=[0, 1, 2, 3, 4]
list5.insert(1,5)
print(list5)

[0, 5, 1, 2, 3, 4]

In [132]:
list5.insert(5,6)
print(list5)

[0, 5, 1, 2, 3, 6, 6, 4]

In [153]:
music_list = []
index=0
while index < 3:
    index = int(input('인덱스위치입력 >> '))
    song = input('노래제목입력 >> ')
    singer = input('가수입력 >>')
    music_list.insert(index,[song, singer])


print('music_list : ', music_list)

인덱스위치입력 >> 0
노래제목입력 >> Butter
가수입력 >>BTS
인덱스위치입력 >> 1
노래제목입력 >> 헤픈우연
가수입력 >>헤이즈
인덱스위치입력 >> 2
노래제목입력 >> 슬픈인연
가수입력 >>먼데이키즈
인덱스위치입력 >> 3
노래제목입력 >> 라일락
가수입력 >>아이유
music_list :  [['Butter', 'BTS'], ['헤픈우연', '헤이즈'], ['슬픈인연', '먼데이키즈'], ['라일락', '아이유']]

In [133]:
list6=[0,1,2,3,4,5]
list6

[0, 1, 2, 3, 4, 5]

In [140]:
print('수정 전:',list6[1])
list6[1]=7
print('수정 후:',list6[1])
list6

수정 전: 7
수정 후: 7

[0, 7, 2, 3, 4, 5]

In [143]:
array=[1,2,3,4,5]
array[4]=7
array[1]=['a','b','c']
array[4]='d','e','f','g'
array[0]='h','i','j'
array

[('h', 'i', 'j'), ['a', 'b', 'c'], 3, 4, ('d', 'e', 'f', 'g')]

In [148]:
list7=[0,1,2,3,4,5]
#del 키워드
del list7[2]
list7

[0, 1, 3, 4, 5]

In [152]:
del list7[1:4]
list7

[0]

In [156]:
#remove() 함수 이용해서 값 삭제
list7=['a','b','c','d','e']
list7.remove('b')
list7
list7.remove('e')
list7

['a', 'c', 'd']

In [157]:
#sort() - 리스트에 있는 값을 오름차순으로 정렬
list8=[9,77,13,51,100,3]
list8

[9, 77, 13, 51, 100, 3]

In [159]:
list8.sort()
list8

[3, 9, 13, 51, 77, 100]

In [160]:
#reverse()- 리스트에 있는 값을 역순으로 뒤집음,  
# 원래 true 값이 역순이기 때문에 false값으로 넣으면 정방향으로 사용 가능
list9=[9, 77, 13, 51, 100, 3]
list9

[9, 77, 13, 51, 100, 3]

In [164]:
list9.sort()
list9
list9.reverse()
list9

[100, 77, 51, 13, 9, 3]

In [168]:
#index() - 찾고자하는 값의 위치를 반환
list11=['a','b','c','d','e','f','c','c']
list11.index('c')

2

In [169]:
#count() - 찾고자하는 값이 몇번 들어있는지 반환
list11.count('c')

3

In [171]:
#pop() - 마지막 값을 반환 후 삭제
list11.pop()
list11

['a', 'b', 'c', 'd', 'e', 'f']

In [173]:
#len(리스트) - 리스트 값 개수 반환 
list12=[0, 1, 2]
len(list12)
len(list11)

6